{% if list_of_books %}
  <ul>
    {% for book in list_of_books %}
    <li><a href="{% url 'book' book.id %}">{{ book.title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>No books in my library.</p>
{% endif %}
